# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.mypy_cache/
.ruff_cache/
/node_modules

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/
*failed-diff.png

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/

format.sh


# test
tests/figures/

# jupyter checkpoints
.ipynb_checkpoints

# sphinx files
*.swp

# other
_version.py
/temp/
