# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/
/node_modules

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.cache/
/data/
*failed-diff.png

# docs
/docs/generated/
/docs/_build/
/docs/auto_gallery/
/docs/sg_execution_times.rst
/docs/gallery/**/data/
/docs/gallery/**/__pycache__/

# IDEs
/.idea/
/.vscode/

format.sh

# test
tests/figures/

# jupyter checkpoints
.ipynb_checkpoints

# sphinx files
*.swp

# other
_version.py
/temp/

# pixi
pixi.lock
