name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 5 1,15 * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    # to fail on error in multiline statements (-e), in pipes (-o pipefail), and on unset variables (-u).
    shell: bash -euo pipefail {0}

jobs:
  # Run tests through hatch. Spawns a separate runner for each environment defined in the matrix below.
  # The matrix is based on [[tool.hatch.envs.hatch-test.matrix]] in pyproject.toml
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        env:
          - name: hatch-test.py3.11-stable
            label: hatch-test.py3.11-stable
            python: "3.11"
            test_type: null
          - name: hatch-test.py3.13-stable
            label: hatch-test.py3.13-stable
            python: "3.13"
            test_type: coverage
          - name: hatch-test.py3.13-pre
            label: hatch-test.py3.13-pre (PRE-RELEASE DEPENDENCIES)
            python: "3.13"
            test_type: null

    name: ${{ matrix.env.label }}
    runs-on: ${{ matrix.os }}

    # Configure pytest-xdist and matplotlib for plotting tests
    env:
      OMP_NUM_THREADS: "1"
      OPENBLAS_NUM_THREADS: "1"
      MKL_NUM_THREADS: "1"
      NUMEXPR_MAX_THREADS: "1"
      PYTEST_ADDOPTS: "-n auto --dist=load --durations=10"

    steps:
      - uses: actions/checkout@v4
        with:
          filter: blob:none
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.env.python }}
          cache-dependency-glob: pyproject.toml
      - name: create hatch environment
        run: uvx hatch env create ${{ matrix.env.name }}
      - name: run tests using hatch
        env:
          MPLBACKEND: agg
          PLATFORM: ${{ matrix.os }}
          DISPLAY: :42
        run: uvx hatch run ${{ matrix.env.name }}:run-cov -v --color=yes -n auto
      - name: generate coverage report
        run: |
          # See https://coverage.readthedocs.io/en/latest/config.html#run-patch
          test -f .coverage || uvx hatch run ${{ matrix.env.name }}:cov-combine
          uvx hatch run ${{ matrix.env.name }}:cov-report   # report visibly
          uvx hatch run ${{ matrix.env.name }}:coverage xml # create report for upload
      - name: Archive figures generated during testing
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: visual_test_results_${{ matrix.env.name }}
          path: tests/figures/*
          if-no-files-found: ignore
      - name: Upload coverage
        uses: codecov/codecov-action@v5

  # Check that all tests defined above pass. This makes it easy to set a single "required" test in branch
  # protection instead of having to update it frequently. See https://github.com/re-actors/alls-green#why.
  check:
    name: Tests pass in all hatch environments
    if: always()
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
