name: Test

on:
  push:
    branches: [main]
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: "*"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -e {0} # -e to fail on error

    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10"]
        os: [ubuntu-latest]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}

      - name: Get pip cache dir
        id: pip-cache-dir
        run: |
          echo "::set-output name=dir::$(pip cache dir)"
      - name: Restore pip cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache-dir.outputs.dir }}
          key: pip-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            pip-${{ runner.os }}-${{ env.pythonLocation }}-
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install pytest-cov
      - name: Install dependencies
        run: |
          pip install --pre -e ".[dev,test]"
      - name: Test
        env:
          MPLBACKEND: agg
          PLATFORM: ${{ matrix.os }}
          DISPLAY: :42
        run: |
          pytest -v --cov --color=yes --cov-report=xml
      # - name: Generate GH action "groundtruth" figures as artifacts, uncomment if needed
      #   if: always()
      #   uses: actions/upload-artifact@v3
      #   with:
      #       name: groundtruth-figures
      #       path: /home/runner/work/spatialdata-plot/spatialdata-plot/tests/_images/*
      - name: Archive figures generated during testing
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: plotting-results
          path: /home/runner/work/spatialdata-plot/spatialdata-plot/tests/figures/*
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          name: coverage
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
